@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #3B4664;
    color: #fff;
}
.wrapper{
    width: 40rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.theme{
    margin-right:1rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.input-group{
    display: flex;
    justify-content: space-between;
    width: 6rem;
    height: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: brown;
}
.input-group input{
    opacity: 0;
    cursor: pointer;
}
.circle{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    position: absolute;
    right: 4.8rem;
    transition: all 0.6s;
    background-color: #546186;
}
.card{
    margin-top: 2rem;
}
.card-header{
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #181F32;
}
.card-header h1{
    font-size: 3.5rem;
    text-align: right;
}
.card-body{
    margin-top: 2rem;
    padding:1.6rem;
    border-radius: 0.8rem;
    background-color: #252C46;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
}
.btn{
    width: 8rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.2rem;
    font-weight: bold;
    border: 0;
    border-bottom: 0.3rem solid #B1A49F;
    border-radius: 0.6rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition:all 0.8s;
    background-color: #EAE3DB;
    color: #3F4650;
}
.btn:hover{
    background-color:brown;
}
.btn-del{
    border-bottom: 0.3rem solid #455072;
    background-color: #647299;
    color: #fff;
}
.btn-reset,
.btn-equal{
    flex: 0 0 48%;
}
.btn-reset{
    margin-right: 1rem;
    border-bottom: 0.3rem solid #455072;
    background-color: #3B4664;
    color: #fff;
}
.btn-equal{
    border-bottom: 0.3rem solid #862922;
    background-color: #D13F30;
    color: #fff;
}